{% extends 'base.html.twig' %}

{% block title %}SymfoNotes{% endblock %}

{% block body %}
  {% if notes %}
    <table id="notes" class="table table-striped">
      <thead>
        <tr>
          <th>Note Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for note in notes %}
          <tr>
            <td><a href="/note/{{ note.id }}">{{ note.title }}</a></td>
            <td>
              <a href="/note/edit/{{ note.id }}" class="btn btn-primary">Edit</a>
              <a href="#" class="btn btn-danger delete-note" data-id="{{ note.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No notes to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}