{% extends 'base.html.twig' %}

{% block title %}{{ note.title }} | SymfoNotes{% endblock %}

{% block body %}
  <h1>{{ note.title }}</h1>
  <p>{{ note.body }}</p>
  <hr>
  <a href="/">Go Back</a>
{% endblock %}

{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}